@using NAiME.Models.Character
@model NAiME.Models.Character.Character

<h3>Skills</h3>
<table class="table table-bordered table-hover">
    <thead>
    <tr>
        <th>Proficient</th>
        <th>Value</th>
        <th>Skill</th>
    </tr>
    </thead>
    <tbody>

    <!--Acrobatics-->
    <tr>
        <td>
            @Html.CheckBoxFor(m => m.CharacterSkills.AcrobaticsDex, new { @class = "form-control" })
        </td>
        <td><p id="acroDex">0</p></td>
        <td>Acrobatics</td>
    </tr>

    <!--Animal Handling-->
    <tr>
        <td>
            @Html.CheckBoxFor(m => m.CharacterSkills.AnimalHandlingWis, new { @class = "form-control" })
        </td>
        <td><p id="animWis">0</p></td>
        <td>Animal Handling</td>
    </tr>

    <!--Athletics-->
    <tr>
        <td>
            @Html.CheckBoxFor(m => m.CharacterSkills.AthleticsStr, new { @class = "form-control" })
        </td>
        <td><p id="athlStr">0</p></td>
        <td>Athletics</td>
    </tr>

    <!--Deception-->
    <tr>
        <td>
            @Html.CheckBoxFor(m => m.CharacterSkills.DeceptionCha, new { @class = "form-control" })
        </td>
        <td><p id="deceCha">0</p></td>
        <td>Deception</td>
    </tr>

    <!--History-->
    <tr>
        <td>
            @Html.CheckBoxFor(m => m.CharacterSkills.HistoryInt, new { @class = "form-control" })
        </td>
        <td><p id="histInt">0</p></td>
        <td>History</td>
    </tr>

    <!--Insight-->
    <tr>
        <td>
            @Html.CheckBoxFor(m => m.CharacterSkills.InsightWis, new { @class = "form-control" })
        </td>
        <td><p id="insiWis">0</p></td>
        <td>Insight</td>
    </tr>

    <!--Intimidation-->
    <tr>
        <td>
            @Html.CheckBoxFor(m => m.CharacterSkills.IntimidationCha, new { @class = "form-control" })
        </td>
        <td><p id="intiCha">0</p></td>
        <td>Intimidation</td>
    </tr>

    <!--Investigation-->
    <tr>
        <td>
            @Html.CheckBoxFor(m => m.CharacterSkills.InvestigationInt, new { @class = "form-control" })
        </td>
        <td><p id="inveInt">0</p></td>
        <td>Investigation</td>
    </tr>

    <!--Lore-->
    <tr>
        <td>
            @Html.CheckBoxFor(m => m.CharacterSkills.LoreInt, new { @class = "form-control" })
        </td>
        <td><p id="loreInt">0</p></td>
        <td>Lore</td>
    </tr>

    <!--Medicine-->
    <tr>
        <td>
            @Html.CheckBoxFor(m => m.CharacterSkills.MedicineWis, new { @class = "form-control" })
        </td>
        <td><p id="mediWis">0</p></td>
        <td>Medicine</td>
    </tr>

    <!--Nature-->
    <tr>
        <td>
            @Html.CheckBoxFor(m => m.CharacterSkills.NatureInt, new { @class = "form-control" })
        </td>
        <td><p id="natuInt">0</p></td>
        <td>Nature</td>
    </tr>

    <!--Perception-->
    <tr>
        <td>
            @Html.CheckBoxFor(m => m.CharacterSkills.PerceptionWis, new { @class = "form-control" })
        </td>
        <td><p id="percWis">0</p></td>
        <td>Perception</td>
    </tr>

    <!--Performance-->
    <tr>
        <td>
            @Html.CheckBoxFor(m => m.CharacterSkills.PerformanceCha, new { @class = "form-control" })
        </td>
        <td><p id="perfCha">0</p></td>
        <td>Performance</td>
    </tr>

    <!--Persuasion-->
    <tr>
        <td>
            @Html.CheckBoxFor(m => m.CharacterSkills.PersuasionCha, new { @class = "form-control" })
        </td>
        <td><p id="persCha">0</p></td>
        <td>Persuasion</td>
    </tr>

    <!--Riddle-->
    <tr>
        <td>
            @Html.CheckBoxFor(m => m.CharacterSkills.RiddleInt, new { @class = "form-control" })
        </td>
        <td><p id="riddInt">0</p></td>
        <td>Riddle</td>
    </tr>

    <!--Shadow Lore-->
    <tr>
        <td>
            @Html.CheckBoxFor(m => m.CharacterSkills.ShadowLoreInt, new { @class = "form-control" })
        </td>
        <td><p id="shadInt">0</p></td>
        <td>Shadow Lore</td>
    </tr>

    <!--Sleight of Hand-->
    <tr>
        <td>
            @Html.CheckBoxFor(m => m.CharacterSkills.SleightOfHandDex, new { @class = "form-control" })
        </td>
        <td><p id="sleiDex">0</p></td>
        <td>Sleight of Hand</td>
    </tr>

    <!--Stealth-->
    <tr>
        <td>
            @Html.CheckBoxFor(m => m.CharacterSkills.StealthDex, new { @class = "form-control" })
        </td>
        <td><p id="steaDex">0</p></td>
        <td>Stealth</td>
    </tr>

    <!--Survival-->
    <tr>
        <td>
            @Html.CheckBoxFor(m => m.CharacterSkills.SurvivalWis, new { @class = "form-control" })
        </td>
        <td><p id="survWis">0</p></td>
        <td>Survival</td>
    </tr>

    <!--Traditions-->
    <tr>
        <td>
            @Html.CheckBoxFor(m => m.CharacterSkills.TraditionsInt, new { @class = "form-control" })
        </td>
        <td><p id="tradInt">0</p></td>
        <td>Traditions</td>
    </tr>

    </tbody>
</table>