@using NAiME.Models.Character
@model NAiME.Models.Character.Character

<h3>Saving Throws</h3>

<!--Saving Throws-->
<table class="table table-bordered table-hover">
    <thead>
    <tr>
        <th>Skill</th>
        <th>Value</th>
        <th>Multiplier</th>
    </tr>
    </thead>
    <tbody>

    <!--Strength Row-->
    <tr style="vertical-align: middle">
        <td>Strength</td>
        <td><p id="strSt">0</p></td>
        <td>
            @Html.TextBoxFor(m => m.CharacterSavingThrows.SavingThrowStrengthMultiplier,
                new {type = "number", @class = "form-control", id = "strMult"})
        </td>
    </tr>
    
    <!--Dexterity Row-->
    <tr>
        <td>Dexterity</td>
        <td><p id="dexSt">0</p></td>
        <td>
            @Html.TextBoxFor(m => m.CharacterSavingThrows.SavingThrowDexterityMultiplier,
                new { type = "number", @class = "form-control", id = "dexMult" })
        </td>
    </tr>
    
    <!--Constitution Row-->
    <tr>
        <td>Constitution</td>
        <td><p id="conSt">0</p></td>
        <td>
            @Html.TextBoxFor(m => m.CharacterSavingThrows.SavingThrowConstitutionMultiplier,
                new { type = "number", @class = "form-control", id = "conMult" })
        </td>
    </tr>
    
    <!--Intelligence Row-->
    <tr>
        <td>Intelligence</td>
        <td><p id="intSt">0</p></td>
        <td>
            @Html.TextBoxFor(m => m.CharacterSavingThrows.SavingThrowIntelligenceMultiplier,
             new { type = "number", @class = "form-control", id = "intMult" })
        </td>
    </tr>

    <!--Wisdom Row-->
    <tr>
        <td>Wisdom</td>
        <td><p id="wisSt">0</p></td>
        <td>
            @Html.TextBoxFor(m => m.CharacterSavingThrows.SavingThrowWisdomMultiplier,
             new { type = "number", @class = "form-control", id = "wisMult" })
        </td>
    </tr>
    
    <!--Charisma Row-->
    <tr>
        <td>Charisma</td>
        <td><p id="chaSt">0</p></td>
        <td>
            @Html.TextBoxFor(m => m.CharacterSavingThrows.SavingThrowCharismaMultiplier,
             new { type = "number", @class = "form-control", id = "chaMult" })
        </td>
    </tr>

    <!--Corruption Row-->
    <tr>
        <td>Corruption</td>
        <td><p id="corSt">0</p></td>
        <td>
            @Html.TextBoxFor(m => m.CharacterSavingThrows.SavingThrowCorruptionMultiplier,
             new { type = "number", @class = "form-control", id = "corMult" })
        </td>
    </tr>

    </tbody>
</table>