@using NAiME.Models.Character
@model NAiME.Models.Character.Character


<h5 class="text-center">Attacks</h5>
<div class="container-fluid border rounded">
    <div class="row">
        <div class="col-4 border">
            Name
        </div>
        <div class="col-4 border">
            Atk Bonus
        </div>
        <div class="col-4 border">
            Damage/Type
        </div>
    </div>
    <div class="row">
        <div class="col-4 border">
            <div class="form-group">
                @Html.TextBoxFor(m => m.CharacterWeapon1.Name, new { @class = "form-control" })
            </div>
        </div>
        <div class="col-4 border">
            <div class="form-group">
                @Html.TextBoxFor(m => m.CharacterWeapon1.AttackBonus, new { @class = "form-control" })
            </div>
        </div>
        <div class="col-4 border">
            <div class="form-group">
                @Html.TextBoxFor(m => m.CharacterWeapon1.DamageType, new { @class = "form-control" })
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-4 border">
            <div class="form-group">
                @Html.TextBoxFor(m => m.CharacterWeapon2.Name, new { @class = "form-control" })
            </div>
        </div>
        <div class="col-4 border">
            <div class="form-group">
                @Html.TextBoxFor(m => m.CharacterWeapon2.AttackBonus, new { @class = "form-control" })
            </div>
        </div>
        <div class="col-4 border">
            <div class="form-group">
                @Html.TextBoxFor(m => m.CharacterWeapon2.DamageType, new { @class = "form-control" })
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-4 border">
            <div class="form-group">
                @Html.TextBoxFor(m => m.CharacterWeapon3.Name, new { @class = "form-control" })
            </div>
        </div>
        <div class="col-4 border">
            <div class="form-group">
                @Html.TextBoxFor(m => m.CharacterWeapon3.AttackBonus, new { @class = "form-control" })
            </div>
        </div>
        <div class="col-4 border">
            <div class="form-group">
                @Html.TextBoxFor(m => m.CharacterWeapon3.DamageType, new { @class = "form-control" })
            </div>
        </div>
    </div>

    <div class="row border">
        @Html.TextAreaFor(m => m.Attacks, new { rows = 6, style = "min-width: 100%", @class = "form-control" })    
    </div>
    <div class="row"></div>
    <div class="row"></div>
</div>