@using NAiME.Models.Character
@model NAiME.Models.Character.Character

<h5 class="text-center">Basic Character Info</h5>

@*<div class="container-fluid border rounded">
    <div class="row">
        <div class="col-lg"></div>
        <div class="col-8 form-group">
            @Html.LabelFor(m => m.Class)
            @Html.TextBoxFor(m => m.Class, new {@class = "form-control"})
            @Html.ValidationMessageFor(m => m.Class)
        </div>

        <div class="col-4 form-group">
            @Html.LabelFor(m => m.CharacterLevel.Level)
            @Html.TextBoxFor(m => m.CharacterLevel.Level, new {type = "number", min = "0", max = "20", @class = "form-control"})
            @Html.ValidationMessageFor(m => m.CharacterLevel.Level)
        </div>
    </div>
</div>*@

<table class="table table-bordered">
    <tr>
        <td>
            <div class="row">
                <div class="col-md-8 form-group">
                    @Html.LabelFor(m => m.Class)
                    @Html.TextBoxFor(m => m.Class, new { @class = "form-control" })
                    @Html.ValidationMessageFor(m => m.Class)
                </div>

                <div class="col-md-4 form-group">
                    @Html.LabelFor(m => m.CharacterLevel.Level)
                    @Html.TextBoxFor(m => m.CharacterLevel.Level, new { type = "number", min = "0", max = "20", @class = "form-control" })
                    @Html.ValidationMessageFor(m => m.CharacterLevel.Level)
                </div>
            </div>

        </td>
        <td>
            @Html.LabelFor(m => m.Background)
            @Html.TextBoxFor(m => m.Background, new { @class = "form-control" })
            @Html.ValidationMessageFor(m => m.Background)
        </td>
        <td>
            @Html.LabelFor(m => m.PlayerName)
            @Html.TextBoxFor(m => m.PlayerName, new {@class = "form-control"})
            @Html.ValidationMessageFor(m => m.PlayerName)
        </td>
    </tr>
    <tr>
        <td>
            @Html.LabelFor(m => m.Culture)
            @Html.TextBoxFor(m => m.Culture, new { @class = "form-control" })
            @Html.ValidationMessageFor(m => m.Culture)
        </td>
        <td>
            @Html.LabelFor(m => m.ShadowWeakness)
            @Html.TextBoxFor(m => m.ShadowWeakness, new { @class = "form-control" })
            @Html.ValidationMessageFor(m => m.ShadowWeakness)
        </td>
        <td>
            <div class="form-group">
                @Html.LabelFor(m => m.CharacterLevel.ExperiencePoints)
                @Html.TextBoxFor(m => m.CharacterLevel.ExperiencePoints, new { type = "number", @class = "form-control" })
                @Html.ValidationMessageFor(m => m.CharacterLevel.ExperiencePoints)
            </div>
        </td>
    </tr>
</table>