@using NAiME.Models.Character
@model NAiME.Models.Character.Character
@{
    var characterType = Model.Id == 0 ? "New" : "Edit";
}

<h2>@characterType Character</h2>

@using (Html.BeginForm("Save", "Characters"))
{
    @Html.ValidationSummary(true, "Please fix the following errors.", new { @class = "validation-summary-errors" })

    @Html.HiddenFor(m => m.Id)

    <!--Character Name-->
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-4">
                <table class="table table-borderless">
                    <tr><td>Picture</td></tr>
                    <tr class="border">
                        <td>
                            <div class="form-group">
                                @Html.LabelFor(m => m.Name)
                                @Html.TextBoxFor(m => m.Name, new {@class = "form-control"})
                                @Html.ValidationMessageFor(m => m.Name)
                            </div>
                        </td>
                    </tr>
                </table>
            </div>
            <div class="col-md-8">
                @Html.Partial("Partials/Save/_saveBasic")
            </div>
        </div>
        <div class="row">
            <div class="col-md-2 text-center">
                @Html.Partial("Partials/Save/_saveStats")
            </div>
            <div class="col-md-3">
                <div class="form-control">
                    @Html.LabelFor(m => m.CharacterLevel.ProficiencyBonus)
                    @Html.TextBoxFor(m => m.CharacterLevel.ProficiencyBonus, new { id = "proficiencyBonus", type = "number", @class = "form-control" })
                    @Html.ValidationMessageFor(m => m.CharacterLevel.ProficiencyBonus)
                </div>

                @if (Model.Id > 0)
                {
                    <div class="form-control">
                        @Html.CheckBoxFor(m => m.Inspiration, new { @class = "" })
                        @Html.LabelFor(m => m.Inspiration)
                        @Html.ValidationMessageFor(m => m.Inspiration)
                    </div>
                }

                <hr />

                @Html.Partial("Partials/Save/_saveThrows")

                <hr />

                @Html.Partial("Partials/Save/_saveSkills")

            </div>
            <div class="col-md-3">
                @Html.Partial("Partials/Save/_saveACHP")
                @Html.Partial("Partials/Save/_saveAttacks")
                @Html.Partial("Partials/Save/_saveEquipment")
                
                @Html.LabelFor(m => m.StandardOfLiving)
                @Html.TextBoxFor(m => m.StandardOfLiving, new {@class = "form-control"})
                @Html.ValidationMessageFor(m => m.StandardOfLiving)
            </div>
            <div class="col-md-4">
                <div class="border">
                    @Html.Partial("Partials/Save/_saveTraits")
                </div>
                <hr/>
                <div>
                    @Html.LabelFor(m => m.FeaturesTraitsVirtues)
                    @Html.TextAreaFor(m => m.FeaturesTraitsVirtues, new {rows = 36, style= "min-width: 100%", @class = "form-control"})
                    @Html.ValidationMessageFor(m => m.FeaturesTraitsVirtues)
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4"></div>
        </div>
    </div>

    @Html.AntiForgeryToken()

    <button type="submit" class="btn btn-primary">Save</button>
}
@section scripts
{
    @Scripts.Render("~/bundles/jqueryval")
    <script>
        $(document).ready(function () {
            
            setInterval(function () {
                var proficiency = parseInt($("#proficiencyBonus").val());

                $("#strCardEnd").text(
                    Math.floor(($("#strCardStart").val() - 10) / 2)
                );
                $("#dexCardEnd").text(
                    Math.floor(($("#dexCardStart").val() - 10) / 2)
                );
                $("#conCardEnd").text(
                    Math.floor(($("#conCardStart").val() - 10) / 2)
                );
                $("#intCardEnd").text(
                    Math.floor(($("#intCardStart").val() - 10) / 2)
                );
                $("#wisCardEnd").text(
                    Math.floor(($("#wisCardStart").val() - 10) / 2)
                );
                $("#chaCardEnd").text(
                    Math.floor(($("#chaCardStart").val() - 10) / 2)
                );

                $("#initiative").text($("#dexCardEnd").text());

                $("#strSt").text(parseInt($("#strCardEnd").text()) + (proficiency * $("#strMult").val()));
                $("#dexSt").text(parseInt($("#dexCardEnd").text()) + (proficiency * $("#dexMult").val()));
                $("#conSt").text(parseInt($("#conCardEnd").text()) + (proficiency * $("#conMult").val()));
                $("#intSt").text(parseInt($("#intCardEnd").text()) + (proficiency * $("#intMult").val()));
                $("#wisSt").text(parseInt($("#wisCardEnd").text()) + (proficiency * $("#wisMult").val()));
                $("#chaSt").text(parseInt($("#chaCardEnd").text()) + (proficiency * $("#chaMult").val()));

                $("#acroDex").text(parseInt($("#dexCardEnd").text()) +
                    ($("#acroCb").prop("checked") === true ? proficiency : 0)
                );
                $("#animWis").text(parseInt($("#wisCardEnd").text()) +
                    ($("#animCb").prop("checked") === true ? proficiency : 0)
                );
                $("#athlStr").text(parseInt($("#strCardEnd").text()) +
                    ($("#athlCb").prop("checked") === true ? proficiency : 0)
                );
                $("#deceCha").text(parseInt($("#chaCardEnd").text()) +
                    ($("#deceCb").prop("checked") === true ? proficiency : 0)
                );
                $("#histInt").text(parseInt($("#intCardEnd").text()) +
                    ($("#histCb").prop("checked") === true ? proficiency : 0)
                );
                $("#insiWis").text(parseInt($("#wisCardEnd").text()) +
                    ($("#insiCb").prop("checked") === true ? proficiency : 0)
                );
                $("#intiCha").text(parseInt($("#chaCardEnd").text()) +
                    ($("#intiCb").prop("checked") === true ? proficiency : 0)
                );
                $("#inveInt").text(parseInt($("#intCardEnd").text()) +
                    ($("#inveCb").prop("checked") === true ? proficiency : 0)
                );
                $("#loreInt").text(parseInt($("#intCardEnd").text()) +
                    ($("#loreCb").prop("checked") === true ? proficiency : 0)
                );
                $("#mediWis").text(parseInt($("#wisCardEnd").text()) +
                    ($("#mediCb").prop("checked") === true ? proficiency : 0)
                );
                $("#natuInt").text(parseInt($("#intCardEnd").text()) +
                    ($("#natuCb").prop("checked") === true ? proficiency : 0)
                );
                $("#percWis").text(parseInt($("#wisCardEnd").text()) +
                    ($("#percCb").prop("checked") === true ? proficiency : 0)
                );
                $("#perfCha").text(parseInt($("#chaCardEnd").text()) +
                    ($("#perfCb").prop("checked") === true ? proficiency : 0)
                );
                $("#persCha").text(parseInt($("#chaCardEnd").text()) +
                    ($("#persCb").prop("checked") === true ? proficiency : 0)
                );
                $("#riddInt").text(parseInt($("#intCardEnd").text()) +
                    ($("#riddCb").prop("checked") === true ? proficiency : 0)
                );
                $("#shadInt").text(parseInt($("#intCardEnd").text()) +
                    ($("#shadCb").prop("checked") === true ? proficiency : 0)
                );
                $("#sleiDex").text(parseInt($("#dexCardEnd").text()) +
                    ($("#sleiCb").prop("checked") === true ? proficiency : 0)
                );
                $("#steaDex").text(parseInt($("#dexCardEnd").text()) +
                    ($("#steaCb").prop("checked") === true ? proficiency : 0)
                );
                $("#survWis").text(parseInt($("#wisCardEnd").text()) +
                    ($("#survCb").prop("checked") === true ? proficiency : 0)
                );
                $("#tradInt").text(parseInt($("#intCardEnd").text()) +
                    ($("#tradCb").prop("checked") === true ? proficiency : 0)
                );

            }, 200);
        });
    </script>
}