@using NAiME.Models.Character
@model NAiME.Models.Character.Character
@{
    var characterType = Model.Id == 0 ? "New" : "Edit";
}

<h2>@characterType Character</h2>

@using (Html.BeginForm("Save", "Characters"))
{
    <p>*Required Fields</p>
    @Html.ValidationSummary(true, "Please fix the following errors.", new { @class = "validation-summary-errors" })

    @Html.HiddenFor(m => m.Id)

    <!--Character Name-->
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-4">
                <div class="form-group">
                    @Html.LabelFor(m => m.CharacterLevel.Level)*
                    @Html.TextBoxFor(m => m.CharacterLevel.Level, new { type = "number", min = "0", max = "20", @class = "form-control" })
                    @Html.ValidationMessageFor(m => m.CharacterLevel.Level)
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group">
                    @Html.LabelFor(m => m.Name)*
                    @Html.TextBoxFor(m => m.Name, new { @class = "form-control" })
                    @Html.ValidationMessageFor(m => m.Name)
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group">
                    @Html.LabelFor(m => m.CharacterLevel.ExperiencePoints)*
                    @Html.TextBoxFor(m => m.CharacterLevel.ExperiencePoints, new { type = "number", @class = "form-control" })
                    @Html.ValidationMessageFor(m => m.CharacterLevel.ExperiencePoints)
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-2 text-center">
                @Html.Partial("Partials/Save/_saveStats")
            </div>
            <div class="col-md-4">
                @if (Model.Id > 0)
                {
                    <div class="form-control">
                        @Html.CheckBoxFor(m => m.Inspiration, new {@class = ""})
                        @Html.LabelFor(m => m.Inspiration)
                        @Html.ValidationMessageFor(m => m.Inspiration)
                    </div>
                }
                
                <hr/>

                @Html.Partial("Partials/Save/_saveThrows")
                
                <hr/>

                @Html.Partial("Partials/Save/_saveSkills")

            </div>
            <div class="col-md-6">
                <h3>Armor / Hit Points /Etc</h3>
            </div>
        </div>
    </div>
    <table>
        <tr>
            <td class="col-sm-2"></td>
            <td class="col-sm-4" style="vertical-align: top;"></td>
            <td class="col-sm-6">&nbsp;</td>
        </tr>
    </table>





    @Html.AntiForgeryToken()

    <button type="submit" class="btn btn-primary">Save</button>
}
@section scripts
{
    @Scripts.Render("~/bundles/jqueryval")
    <script>
        $(document).ready(function () {
            var cards = $(".cardStatTarget");
            
            setInterval(function () {
                $("#strCardEnd").text(
                    Math.floor(($("#strCardStart").val() - 10) / 2)
                );
                $("#dexCardEnd").text(
                    Math.floor(($("#dexCardStart").val() - 10) / 2)
                );
                $("#conCardEnd").text(
                    Math.floor(($("#conCardStart").val() - 10) / 2)
                );
                $("#intCardEnd").text(
                    Math.floor(($("#intCardStart").val() - 10) / 2)
                );
                $("#wisCardEnd").text(
                    Math.floor(($("#wisCardStart").val() - 10) / 2)
                );
                $("#chaCardEnd").text(
                    Math.floor(($("#chaCardStart").val() - 10) / 2)
                );
                $("#strSt").text(parseInt($("#strCardEnd").text()) +
                    (($("#strProCb").prop("checked") === true ? 2 : 0) * $("#strMult").val())
                );
                $("#dexSt").text(parseInt($("#dexCardEnd").text()) +
                    (($("#dexProCb").prop("checked") === true ? 2 : 0) * $("#dexMult").val())
                );
                $("#conSt").text(parseInt($("#conCardEnd").text()) +
                    (($("#conProCb").prop("checked") === true ? 2 : 0) * $("#conMult").val())
                );
                $("#intSt").text(parseInt($("#intCardEnd").text()) +
                    (($("#intProCb").prop("checked") === true ? 2 : 0) * $("#intMult").val())
                );
                $("#wisSt").text(parseInt($("#wisCardEnd").text()) +
                    (($("#wisProCb").prop("checked") === true ? 2 : 0) * $("#wisMult").val())
                );
                $("#chaSt").text(parseInt($("#chaCardEnd").text()) +
                    (($("#chaProCb").prop("checked") === true ? 2 : 0) * $("#chaMult").val())
                );
            }, 200);
        });
    </script>
}