@using NAiME.Models.Character
@model NAiME.Models.Character.Character
@{
    var characterType = Model.Id == 0 ? "New" : "Edit";
}

<h2>@characterType Character</h2>

@using (Html.BeginForm("Save", "Characters"))
{
    @Html.ValidationSummary(true, "Please fix the following errors.", new { @class = "validation-summary-errors" })

    @Html.HiddenFor(m => m.Id)

    <div class="container-fluid">
        <div class="row">
            <div class="col-md-4">

                <!--Character Name-->
                <div class="form-group">
                    @Html.LabelFor(m => m.Name)
                    <br />
                    @Html.TextBoxFor(m => m.Name, new { @class = "form-control-lg" })
                    @Html.ValidationMessageFor(m => m.Name)
                    
                    <hr />

                    <div>
                        <button type="submit" class="btn btn-primary">Save</button>
                    </div>
                </div>

            </div>
            <div class="col-md-8">
                @Html.Partial("Partials/Save/_saveBasic")
            </div>
        </div>
    </div>

    

    <ul class="nav nav-tabs">
        <li class="nav-item">
            <a class="nav-link active show" data-toggle="tab" href="#stats">Stats</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" data-toggle="tab" href="#characterDetails">Details</a>
        </li>
    </ul>
    <div id="myTabContent" class="tab-content">
        <div class="tab-pane fade active show" id="stats">
            <br />
            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-4">
                        @Html.Partial("Partials/Save/_saveStats")
                        <div class="row">
                            <div class="col-sm-6 col-md-6 col-lg-12">Passive Perception</div>
                            <div class="col-sm-6 col-md-6 col-lg-12" id="passivePerception">0</div>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="form-control">
                            @Html.LabelFor(m => m.CharacterLevel.ProficiencyBonus)
                            @Html.TextBoxFor(m => m.CharacterLevel.ProficiencyBonus, new { id = "proficiencyBonus", type = "number", @class = "form-control" })
                            @Html.ValidationMessageFor(m => m.CharacterLevel.ProficiencyBonus)
                        </div>

                        @if (Model.Id > 0)
                        {
                            <div class="form-control">
                                @Html.CheckBoxFor(m => m.Inspiration, new { @class = "" })
                                @Html.LabelFor(m => m.Inspiration)
                                @Html.ValidationMessageFor(m => m.Inspiration)
                            </div>
                        }

                        <hr />

                        @Html.Partial("Partials/Save/_saveThrows")

                        <hr />

                        @Html.Partial("Partials/Save/_saveSkills")
                    </div>
                    <div class="col-lg-4">
                        @Html.Partial("Partials/Save/_saveACHP")
                        @Html.Partial("Partials/Save/_saveAttacks")
                        @Html.Partial("Partials/Save/_saveEquipment")

                        @Html.LabelFor(m => m.StandardOfLiving)
                        @Html.TextBoxFor(m => m.StandardOfLiving, new { @class = "form-control" })
                        @Html.ValidationMessageFor(m => m.StandardOfLiving)
                    </div>
                </div>
            </div>
        </div>
        <div class="tab-pane fade" id="characterDetails">
            <br />
            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-4">
                        <div class="border">
                            @Html.Partial("Partials/Save/_saveTraits")
                        </div>
                        <hr />
                        <div>
                            @Html.LabelFor(m => m.FeaturesTraitsVirtues)
                            @Html.TextAreaFor(m => m.FeaturesTraitsVirtues, new { rows = 36, style = "min-width: 100%", @class = "form-control" })
                            @Html.ValidationMessageFor(m => m.FeaturesTraitsVirtues)
                        </div>
                    </div>
                    <div class="col-lg-4">
                        @Html.LabelFor(m => m.OtherProficienciesAndLangages)
                        @Html.TextAreaFor(m => m.OtherProficienciesAndLangages, new { rows = 16, style = "min-width: 100%", @class = "form-control" })
                        @Html.ValidationMessageFor(m => m.OtherProficienciesAndLangages)

                        <hr />

                        @Html.LabelFor(m => m.CharacterAppearance)
                        @Html.TextAreaFor(m => m.CharacterAppearance, new { rows = 16, style = "min-width: 100%", @class = "form-control" })
                        @Html.ValidationMessageFor(m => m.CharacterAppearance)

                        <hr />

                        @Html.LabelFor(m => m.CharacterBackstory)
                        @Html.TextAreaFor(m => m.CharacterBackstory, new { rows = 16, style = "min-width: 100%", @class = "form-control" })
                        @Html.ValidationMessageFor(m => m.CharacterBackstory)
                    </div>
                    <div class="col-lg-4">
                        @Html.Partial("Partials/Save/_saveCharacteristics")

                        <hr />

                        @Html.LabelFor(m => m.AlliesAndPatrons)
                        @Html.TextAreaFor(m => m.AlliesAndPatrons, new { rows = 12, style = "min-width: 100%", @class = "form-control" })
                        @Html.ValidationMessageFor(m => m.AlliesAndPatrons)

                        <hr />

                        @Html.LabelFor(m => m.AdditionalFeaturesAndTraits)
                        @Html.TextAreaFor(m => m.AdditionalFeaturesAndTraits, new { rows = 12, style = "min-width: 100%", @class = "form-control" })
                        @Html.ValidationMessageFor(m => m.AdditionalFeaturesAndTraits)

                        <hr />

                        @Html.LabelFor(m => m.Treasure)
                        @Html.TextAreaFor(m => m.Treasure, new { rows = 12, style = "min-width: 100%", @class = "form-control" })
                        @Html.ValidationMessageFor(m => m.Treasure)
                    </div>
                </div>
            </div>
        </div>
    </div>

    <hr/>

    @Html.AntiForgeryToken()

    <button type="submit" class="btn btn-primary">Save</button>
}
@section scripts
{
    @Scripts.Render("~/bundles/jqueryval")
    <script>
        $(document).ready(function () {

            setInterval(function () {
                var proficiency = parseInt($("#proficiencyBonus").val());

                $("#strCardEnd").text(
                    Math.floor(($("#strCardStart").val() - 10) / 2)
                );
                $("#dexCardEnd").text(
                    Math.floor(($("#dexCardStart").val() - 10) / 2)
                );
                $("#conCardEnd").text(
                    Math.floor(($("#conCardStart").val() - 10) / 2)
                );
                $("#intCardEnd").text(
                    Math.floor(($("#intCardStart").val() - 10) / 2)
                );
                $("#wisCardEnd").text(
                    Math.floor(($("#wisCardStart").val() - 10) / 2)
                );
                $("#chaCardEnd").text(
                    Math.floor(($("#chaCardStart").val() - 10) / 2)
                );

                $("#initiative").text($("#dexCardEnd").text());

                $("#passivePerception").text(10 + parseInt($("#wisCardEnd").text()));

                $("#strSt").text(parseInt($("#strCardEnd").text()) + (proficiency * $("#strMult").val()));
                $("#dexSt").text(parseInt($("#dexCardEnd").text()) + (proficiency * $("#dexMult").val()));
                $("#conSt").text(parseInt($("#conCardEnd").text()) + (proficiency * $("#conMult").val()));
                $("#intSt").text(parseInt($("#intCardEnd").text()) + (proficiency * $("#intMult").val()));
                $("#wisSt").text(parseInt($("#wisCardEnd").text()) + (proficiency * $("#wisMult").val()));
                $("#chaSt").text(parseInt($("#chaCardEnd").text()) + (proficiency * $("#chaMult").val()));

                $("#acroDex").text(parseInt($("#dexCardEnd").text()) +
                    ($("#acroCb").prop("checked") === true ? proficiency : 0)
                );
                $("#animWis").text(parseInt($("#wisCardEnd").text()) +
                    ($("#animCb").prop("checked") === true ? proficiency : 0)
                );
                $("#athlStr").text(parseInt($("#strCardEnd").text()) +
                    ($("#athlCb").prop("checked") === true ? proficiency : 0)
                );
                $("#deceCha").text(parseInt($("#chaCardEnd").text()) +
                    ($("#deceCb").prop("checked") === true ? proficiency : 0)
                );
                $("#histInt").text(parseInt($("#intCardEnd").text()) +
                    ($("#histCb").prop("checked") === true ? proficiency : 0)
                );
                $("#insiWis").text(parseInt($("#wisCardEnd").text()) +
                    ($("#insiCb").prop("checked") === true ? proficiency : 0)
                );
                $("#intiCha").text(parseInt($("#chaCardEnd").text()) +
                    ($("#intiCb").prop("checked") === true ? proficiency : 0)
                );
                $("#inveInt").text(parseInt($("#intCardEnd").text()) +
                    ($("#inveCb").prop("checked") === true ? proficiency : 0)
                );
                $("#loreInt").text(parseInt($("#intCardEnd").text()) +
                    ($("#loreCb").prop("checked") === true ? proficiency : 0)
                );
                $("#mediWis").text(parseInt($("#wisCardEnd").text()) +
                    ($("#mediCb").prop("checked") === true ? proficiency : 0)
                );
                $("#natuInt").text(parseInt($("#intCardEnd").text()) +
                    ($("#natuCb").prop("checked") === true ? proficiency : 0)
                );
                $("#percWis").text(parseInt($("#wisCardEnd").text()) +
                    ($("#percCb").prop("checked") === true ? proficiency : 0)
                );
                $("#perfCha").text(parseInt($("#chaCardEnd").text()) +
                    ($("#perfCb").prop("checked") === true ? proficiency : 0)
                );
                $("#persCha").text(parseInt($("#chaCardEnd").text()) +
                    ($("#persCb").prop("checked") === true ? proficiency : 0)
                );
                $("#riddInt").text(parseInt($("#intCardEnd").text()) +
                    ($("#riddCb").prop("checked") === true ? proficiency : 0)
                );
                $("#shadInt").text(parseInt($("#intCardEnd").text()) +
                    ($("#shadCb").prop("checked") === true ? proficiency : 0)
                );
                $("#sleiDex").text(parseInt($("#dexCardEnd").text()) +
                    ($("#sleiCb").prop("checked") === true ? proficiency : 0)
                );
                $("#steaDex").text(parseInt($("#dexCardEnd").text()) +
                    ($("#steaCb").prop("checked") === true ? proficiency : 0)
                );
                $("#survWis").text(parseInt($("#wisCardEnd").text()) +
                    ($("#survCb").prop("checked") === true ? proficiency : 0)
                );
                $("#tradInt").text(parseInt($("#intCardEnd").text()) +
                    ($("#tradCb").prop("checked") === true ? proficiency : 0)
                );

            }, 200);
        });
    </script>
}